.tables {
  width: 100%;
  max-width: 920px;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  text-align: center;
}

.search {
  display: flex;
}

.HeroSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.puts {
  display: flex;
  align-items: center;
  max-width: 920px;
  width: 100%;
  gap: 1rem;
  margin: 0 auto 1rem;
}

.Inputs input {
  padding: 0.4rem 1rem;
  width: 100%;
}
